numpy>=1.19.2
scipy>=1.6.3
pandas
pyyaml>=5.4.1
loguru>=0.7.2
tqdm
kaldi_native_fbank>=1.20.0
sentencepiece>=0.2.0
soundfile>=0.12.1
resampy>=0.2.2
yeaudio>=0.0.7
python-Levenshtein>=0.25.1
pyaudio
soundcard>=0.4.2
onnxruntime>=1.17.1
fastapi
uvicorn
websockets
aiofiles
requests
jinja2
zhconv>=1.4.2
typeguard>=2.13.3
ijson>=3.1.4
visualdl==2.5.3
scikit-learn>=1.0.2
torch
